/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  gap: 100px;
  margin-bottom: 100px;
}
.bigger-margin {
  margin: 30px auto;
}

.ticket-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.ticket-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.ticket-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.ticket-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  max-width: 1400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket-details .small {
  margin: 0;
  font-size: 0.8em;
  color: #555;
  max-width: 1400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  margin-bottom: 10px;
}
.ticket-details span:hover {
  color: white;
  background-color: var(--primary);
}

.ticket-details-main a {
  text-decoration: none;
}

.ticket-details2 {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.ticket-details2 h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.ticket-details2 h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.ticket-details2 p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  max-width: 1400px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket-details2 .small {
  margin: 0;
  font-size: 0.8em;
  color: #555;
  max-width: 1400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket-details2 span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  margin-bottom: 10px;
}

.ticket-details2 span:hover {
  color: white;
  background-color: var(--primary);
}

.ticket-details2-main a {
  color: white;
}

.headline {
  text-align: center;
}

.headline span {
  cursor: pointer;
  background: white;
  border: 2px solid var(--primary);
  width: auto;
  padding: 6px;
  border-radius: 50%;
  color: var(--primary);
}

.headline span:hover {
  background: var(--primary);
  color: white;
}

/* new workout form */
label, input, select, textarea{
  display: block;
}
input, select, textarea{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

textarea.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 0px;
}

nav span {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

nav button:hover {
  background-color: var(--primary);
  color: white;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  margin: 0; /* Important for vertical align on mobile phones */
  min-width: 160px;
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--primary);
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.main-div {
  background-color: white;
  padding: 5px 25px 25px;
  border-radius: 4px;
}

.main-div h2{
  color: var(--primary);
}


.adminTickets table {
  width: 100%;
}


.adminTickets td, th{
  padding: 10px 10px;
}

.adminUsers table {
  width: 100%;
}


.adminUsers td, th {
  padding: 10px 10px;
}

th {
  background-color: var(--primary);
}

.textfield-height {
  height: auto;
  white-space: pre-wrap;
  overflow: hidden;
}
.edit-save-button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.edit-save-button:hover {
  background-color: var(--primary);
  color: white;
}

.scrollButtonDiv {
  background: black;
  border-radius: 4px;
  margin: 20px auto;
  width: 10%;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.scrollButtonDiv span {
  background: white;
  border-radius: 50%;
  border: 2px solid var(--primary);
  bottom: 40px;
  color: var(--primary);
  cursor: pointer;
  font-size: 2rem;
  left: 50%;
  padding: 6px;
  position: fixed;
  z-index: 1;
}

.scrollButtonDiv span:hover {
  background: var(--primary);
  color: white;
}

.ticketEditButton span {
  right: 65px;
}

.claimButtonOverview span {
  right: 65px;
}

.ticket-details-main .internal_ticket {
  background-color: #dadada;
}

.ticket-details-main .own_ticket {
  box-shadow: 2px 2px 5px var(--primary);
}

.admin-ticket span{
  background: white;
  border: 2px solid var(--primary);
  border-radius: 50%;
  bottom: 20px;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 6px;
  margin-left: 5px;
}
.admin-ticket span:hover{
  background: var(--primary);
  border: 2px solid var(--primary);
  color: white;
}
.admin-users span:hover{
  background: var(--primary);
  border: 2px solid var(--primary);
  color: white;
}
.admin-users span{
  background: white;
  border: 2px solid var(--primary);
  border-radius: 50%;
  bottom: 20px;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 6px;
  margin-left: 5px;
}
